html, body
{
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
   background-color: white;
}

a { color: #3871e3; font-style: normal; text-decoration: none }  /* for unvisited links */
a:link { color: #6c7a95; font-style: normal; text-decoration: none }  /* for unvisited links */
a:visited { color: #6c7a95; font-style: normal; text-decoration: none } /* for visited links */
a:active { color: #ff4c00; font-style: normal; text-decoration: none } /* when link is clicked */
a:hover { color: #fcc85a; font-style: normal; text-decoration: none } /* when mouse is over link */

.buttontext { color: #6c7a95 }
.paneltitle { color: #6c7a95; font-weight: 600 }

p {
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
   color: black;
}

table {
   border-width: 0;
}

th {
   border-style: none none none none;
   color: white;
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
   font-weight: bold;
}

td {
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
}

.drag {
  position: relative;
  cursor: hand;
}

 .menu        {                                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .menuorange  { color: #EA6515;                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .menubig     {                                     font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .boldsmall   {                                     font-weight: bold; font-size: 9px;  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .bold        {                                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .boldbig     {                                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normalmini  {                 font-style: normal;                    font-size: 9px;  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normalsmall {                 font-style: normal;                    font-size: 10px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normal      {                 font-style: normal;                    font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normalbig   {                 font-style: normal;                    font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .headerbar   { color: #4b4b4d;                     font-weight: bold; font-size: 13px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .titlebar    { color: #4b4b4d;                     font-weight: bold; font-size: 13px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .status      { color: #4b4b4d;                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }

tr.headerbar {
	border-bottom: 1px solid #dfdef0;
	background-color: #d4d2e7;
}

/* Help node styles */

h1 {
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    color: #3871e3;
}

h2 {
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 12px;
}

/* Styles related to the PHP Layers Menu System begin here */

.h1bar    {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #cc0000;
}

.normal    {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 11px;
}

.horbartop    {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 11px;
    background-color: #dfdfdf;
}

.verbarleft    {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 11px;
    background-color: #dfdfdf;
}

.navtop    {
    background-color: white;
    font-family: "Arial", Arial, Verdana, Helvetica, Geneva, sans-serif;
    font-size: 13px;
}

.nav    {
    background-color: white;
    font-family: "Arial", Arial, Verdana, Helvetica, Geneva, sans-serif;
    font-size: 13px;
}

.navdark    {
    background-color: #d5d4e6;
}

.navblack    {
    background-color: #000000;
}

.navgreen    {
    background-color: #839983;
}

.navdarkgreen    {
    background-color: #839983;
}

.navred    {
    background-color: #aa5859;
}

.navorange    {
    background-color: #df9500;
}

.preformatted    {
    font-family: courier;
    font-size: 11px;
}

.imgs    {
    border: 0px;
    width: 16px;
    height: 18px;
}

/* Styles related to the PHP Layers Menu System end here */
